@media (max-width: 580.9808px) {

    @media (max-width: 580.9808px) {

        section h2{
            margin-left: 0!important;
            text-align: center;
    margin-top: 10px;
        }
    }}