<section class=" form forgetpassword" *ngIf="forgetForm">
    <div class="w-75 mx-auto bg-main-light shadow p-5 section">
        <h2 class="text-center">Forget Passweord</h2>
        <form [formGroup]="forgotpassword" (ngSubmit)="Next()">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" formControlName="email">
                <div class="mt-3" *ngIf="forgotpassword.get('email')?.errors &&(forgotpassword.get('email')?.touched ||forgotpassword.get('email')?.value.length>0)">
                    <p class="alert alert-danger p-2" *ngIf="forgotpassword.get('email')?.getError('required')"> Email is required</p>
                    <p class="alert alert-danger p-2" *ngIf="forgotpassword.get('email')?.getError('email')"> Email is not Valid</p>
                    
                </div>
            </div>
            <button class="main-btn mt-3 w-100" [disabled]="forgotpassword.invalid" >Next  <i *ngIf="nextloading" class="fa-solid fa-spinner fa-spin"></i></button>
            
            <p class="alert alert-danger mt-2 text-center w-75 p-2 m-auto" *ngIf="erroMessage">{{erroMessage}}</p>
        </form>
    </div>
    
</section>


<section class=" form" *ngIf="restCode">
    <div class="w-75 mx-auto bg-main-light shadow p-5 section">
        <h2 class="text-center">Forget Passweord</h2>
        <form [formGroup]="restcode" (ngSubmit)="confirm()">
            <div>
                <label for="text">Rest Code:</label>
                <input type="text" id="email" class="form-control" formControlName="resetCode">
                <div class="mt-3" *ngIf="restcode.get('code')?.errors &&(restcode.get('code')?.touched ||restcode.get('code')?.value.length>0)">
                    <p class="alert alert-danger p-2" *ngIf="restcode.get('code')?.getError('required')"> code is required</p>
                    <p class="alert alert-danger p-2" *ngIf="restcode.get('code')?.getError('pattern')"> code must be at 6 chars</p>
                    
                </div>
            </div>
            <button class="main-btn mt-3 w-100" [disabled]="restcode.invalid" >Confirm   <i *ngIf="confirmloading" class="fa-solid fa-spinner fa-spin"></i></button>
            <p class="alert alert-success p-2 mt-3 text-center w-50 m-auto " *ngIf="codesent">{{codesent}}</p>
            <p class="alert alert-danger mt-2 text-center w-50 p-2 m-auto" *ngIf="erroMessage">{{erroMessage}}</p>
        </form>
    </div>
    
</section>


<section class=" form" *ngIf="updatepass">
    <div class="w-75 mx-auto bg-main-light shadow p-5 section">
        <h2 class="text-center">Forget Passweord</h2>
        <form [formGroup]="updatepassword" (ngSubmit)="Done()">
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Your Email" >
                <div class="mt-3" *ngIf="updatepassword.get('email')?.errors &&(updatepassword.get('email')?.touched ||updatepassword.get('email')?.value.length>0)">
                    <p class="alert alert-danger p-2" *ngIf="updatepassword.get('email')?.getError('required')"> email is required</p>
                    <p class="alert alert-danger p-2" *ngIf="updatepassword.get('email')?.getError('pattern')"> Email is not Valid</p>
                    
                </div>
            </div>
            <div>
                <label for="newPassword">newPassword:</label>
                <input type="password" id="newPassword" placeholder="Your NewPassword" class="form-control" formControlName="newPassword" >
                <div class="mt-3" *ngIf="updatepassword.get('newPassword')?.errors &&(updatepassword.get('newPassword')?.touched ||updatepassword.get('newPassword')?.value.length>0)">
                    <p class="alert alert-danger p-2" *ngIf="updatepassword.get('newPassword')?.getError('required')"> newPassword is required</p>
                    <p class="alert alert-danger p-2" *ngIf="updatepassword.get('newPassword')?.getError('pattern')"> must be<br>
                        * Start with a letter (either uppercase or lowercase).<br>
                        * Be between 6 and 9 characters in total.<br>
                        * Can only contain letters (A-Z or a-z) and numbers (0-9)ap</p>
                    
                </div>
            </div>
            <button class="main-btn mt-3 w-100" [disabled]="updatepassword.invalid" >Done  <i *ngIf="Doneloading" class="fa-solid fa-spinner fa-spin"></i></button>
            <p class="alert alert-success p-2 mt-3 text-center w-50 m-auto " *ngIf="updateSuccess">{{updateSuccess}}</p>

        </form>
    </div>

</section>

