<section class="pe-5 ps-5 pt-5 pb-4 bg-main-light ">
    <footer>
        <h4>Get The FreshCart App</h4>
        <p>We Will Send You a Link,open it on Your Phone</p>
        <div class="row g-3  justify-content-between align-items-center border-bottom pb-3 ">
            <div class="col-md-10 border-bottom-0">
                <input type="text" placeholder="Email..." class="form-control">
            </div>
            <div class="col-md-2">
            <button class="btn main-btn share">Share App Link</button>
            </div>
        </div>
        <div class="p-3 d-flex justify-content-between hamada">
            <div class="d-flex align-items-center ">
                <p class="m-0 fs-5 me-1">Payment Partner</p>
                <img src="./assets/images/visa.svg" alt="visa">
                <img src="./assets/images/master.svg" alt="visa">
                <img src="./assets/images/visa-1.svg" alt="visa">
            </div>
            <div class="d-flex align-items-center justify-content-end icons ">
                <p class="m-0 fs-5 me-2">Get deliveries with FreshCart</p>
                <button class=" bg-black btn d-flex justify-content-center align-items-center text-white">
                    <i class="fa-brands fa-apple  text-white"></i>
                    <div class="text">
                       <p class="m-0 avilable"> Avilable on the</p>
                       <p class="m-0 appstore">App Store</p>
                    </div>
                </button>
                <button class="ms-3 bg-black btn d-flex justify-content-between w-20 align-items-center text-white">
                   <img class="w-25" src="./assets/images/google-store.svg" alt="">
                    <div class="text">
                       <p class="m-0 avilable"> Avilable on the</p>
                       <p class="m-0 appstore">App Store</p>
                    </div>
                </button>
            </div>
        </div>
        <div class=" p-3 text-center border-top">© 2023 Abdelrahman Reda , All Rights Reserved</div>
    </footer>
 
</section>
