.share{
    padding: 8px 16px!important;
}
:host{
    margin-top: auto;
}
.avilable{
    font-size: 9px;
    margin-bottom: -5px!important;
}
.appstore{
    font-size: 16px;
}

button i{
    font-size: 25px;
    margin-right: 10px;
}

button{
    padding: 2px 8px!important;
}

.w-20{
    width: 22%;
}

@media (max-width: 1030.9808px) {

    .hamada{
        display: block!important;

  }

  .icons{
    justify-content: start!important;
    margin-top: 20px;
  }
  .w-20{
    width: 15%;
  }
}
@media (max-width: 887.9808px) {

    .hamada .icons{
        display: none!important;
    }
}