.form{
    min-height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 780.9808px) {
    section .section{
      width: 95%!important;
    }
}

.input-container {
  position: relative;
}

.input-container .icon {
  color: #000;
  position: absolute;
  top: 66%;
  right: 13px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  z-index: 10000;

}

