<nav #nav class="navbar  bg-body-tertiary fixed-top py-2">
    <div class="container-fluid  d-flex justify-content-between align-items-center">
      <img src="./assets/images/freshcart-logo.svg" alt="not found" >
      <div class="  align-items-center justify-content-between" id="navbarSupportedContent">
  
        <ul class="list-unstyled d-flex justify-content-center  m-0 ms-auto">
          <li class="me-2" routerLinkActive="active-link" role="button" routerLink="/login">Login</li>
          <li routerLinkActive="active-link" role="button" routerLink="register">Register</li>
        </ul>
      </div>
    </div>
  </nav>

  
